.card {
	height: 100%;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	background: white;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.card-header {
	background: var(--header-backgroud-color);
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.card-logo {
	margin: 20px auto 10px;
	max-width: 120px;
}

.card-content {
	padding: 0 16px 20px;
	font-size: 14px;
	color: #333;
	line-height: 1.5;
}

.card-footer {
	background: #008989;
	padding: 12px;
}

.card-footer a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
